<div class="dag-modal-row dag-color-row">
  <span class="dag-modal-label">Event color</span>
  <div class="dag-color-dropdown" id="dagColorPicker">
    <button type="button" class="dag-color-trigger" id="dagColorTrigger"
            aria-haspopup="listbox" aria-expanded="false">
      <span class="dag-color-preview" id="dagColorPreview"></span>
      <span class="dag-color-trigger-text" id="dagColorLabel">Peacock</span>
      <span class="dag-color-chevron" aria-hidden="true">▾</span>
    </button>
    <div class="dag-color-menu" id="dagColorMenu" role="listbox"></div>
  </div>
</div>
